Python Exceptions

- Is a method of handling runtime errors. Rather than the default always happening which is to print an error and end the program, exception handling allows us to customize the events that happen after an error.
<br>
Examples of Errors:
<br>
<br>
IOError
<br>
If the file cannot be opened.
<br>
<br>
ImportError
<br>
If python cannot find the module
<br>
<br>

In [ ]:
#try:
    #Write some code here
#except:
    #exception handling
    
try:
    print (1/0)

except Exception:
    print ("Cant divide by zero")

In [ ]:
myList = [2, 6]

print (myList[4])

In [ ]:
def hello():
    print("Hello")

try:
    myList = [2, 6]
    print (myList[4])

except Exception:
    print ("Cant divide by zero")
    hello()

Basics Of SQL

- Creating a database
<br>
sqlite3 {name of db}
<br>
Example: sqlite3 test.db

- Creating a table
<br>
CREATE TABLE {table name} {elements in table>};
<br>
.tables command will list out all of the tables in the database
<br>
Example: CREATE TABLE students (name varchar(20) , id int, major varchar(20));

- Importing Data
<br>
.import {data file} {table to add data to}
<br>
.separator ","
<br>
.import studentinfo.csv students

- Inserting into a table
<br>
INSERT INTO {table name} {element} VALUES {data}
<br>
Example: INSERT INTO students (name, id , major) VALUES ("Jack", 11, "Computer Science");

- SELECT STATEMENTS
<br>
SELECT {columns} FROM {table} WHERE {conditions}
<br>
SELECT name FROM students;
<br>
SELECT \* FROM students WHERE major = " Computer Science";
<br>
SELECT \* FROM students WHERE name = "John" AND id = 5;
<br>
SELECT COUNT(*) FROM students;

Exercise 1: Find the number of Economics students in the database using SQL.
<br>
Exercise 2: Find the sum of all the ids in the database using SQL.

The NumPy Library

In [ ]:
import numpy as np

In [ ]:
arr1 = np.array([6,7,90])
print (arr1)

In [ ]:
mat = np.arange(20).reshape(4, 5)
print (mat)

In [ ]:
print (arr1.shape)
print (mat.shape)

In [ ]:
zeroes = np.zeros( (2,5) )
print (zeroes)
print (zeroes.shape)

zeroes[0][3] = 5
print(zeroes)

In [ ]:
print (2 * mat)

In [ ]:
a = np.array([2,4,6])
b = np.array([3,5,7])
print (a + b)
print (a * b)

In [ ]:
c = np.array( [[1,1], [0,1]] )
print(c)
print()
d = np.array( [[2,0], [3,4]] )
print(d)
print()
print(c.dot(d))