## Introduction to Applied Data Science
##### © Rashed Iqbal - 2018

In the following, you will find Python code lines to perform simple programming operations. After each block, you are invited to write code that will produce the intended (and provided results) to allow you to pratice programming.

In [ ]:
#Note before you get started that the version of python is as per our 
#installation instructions. You may face issues otherwise

#example 1.1 : Print a simple text ("hello World") and comments in python

print("Hello World!")

# print("Apple")
# Note "#" is used for commenting in python
# Try printing Apple by uncommenting the print statement above

__Exercise 1:__ 
<br>
Between the two start and stop lines below, write code to print *Hello, Introduction to Applied Economics*.

In [4]:
### START CODE HERE ### (≈ 1 lines of code)
print("Hello, Introduction to Applied Economics")
###END CODE HERE ###

Hello, Introduction to Applied Economics

__Expected Output:__
<br>
Hello, Introduction to Applied Economics

In [ ]:
#Example 2: Variables 


#Variables are nothing but reserved memory locations to store values
#We do not require explicit declarations within python
#The equal sign (=) is used to assign values to variables.

#Example 2.1 : Variable Assignment 
counter = 100          # An integer assignment
amount  = 1000.1       # A floating point 
subject    = "Economics"       # A string

print(counter)
print(amount)
print(subject)

__Exercise 2.1:__
<br>
Assign the number *2018* to a variable called __*year*__ and the text *Hello* to a variable called __*greeting*__. Print both variables after the assignments.

In [6]:
### START CODE HERE ### (≈ 4 lines of code)
year = 2018
greeting = "Hello"

print(year)
print(greeting)
###END CODE HERE ###

2018
Hello

__Expected Output:__
<br>
2018
<br>
Hello

In [ ]:
#Example 2.2: Assign a value of 10 to a variable 'ap'. Print the value of 'ap'
ap = 10
print(ap)
#change the value of ap to 30. Print the value of 'ap'
ap = 30
print(ap)

__Exercise 2.2:__
<br>
Create a variable called __*name*__ with the value "John". Print the variable __*name*__. 
<br>
Then, reassign __*name*__ to the value "Sam". Print the variable __*name*__ again.

In [7]:
### START CODE HERE ### (≈ 4 lines of code)
name = "John"
print(name)

name = "Sam"
print(name)
###END CODE HERE ###

John
Sam

__Expected Output:__
<br>
John
<br>
Sam

In [ ]:
#Example 2.3: Assign a value of 10 to a variable 'ap'. Print the value of 'ap'
ap = 10
print(ap)
#change the value of 'ap' to a string value of apple. Print the value of 'ap'
#think - can the same variable hold different data types? will this give an error?
ap = "apple"
print(ap)
# More on data types later

__Exercise 2.3:__
<br>
Create a variable called __*fruit*__ with the value "grape". Print the value of __*fruit*__.
<br>
Next, assign the float 9.5 to __*fruit*__. Finally, print the value of __*fruit*__.

In [1]:
### START CODE HERE ### (≈ 4 lines of code)
fruit = "grape"
print(fruit)

fruit = 9.5
print(fruit)
###END CODE HERE ###

grape
9.5

__Expected Output:__
<br>
grape
<br>
9.5

In [ ]:
#Example 2.4 : Multiple Assignment 
# Python allows you to assign a single value to several variables simultaneously

#Assign the value of 5 to variables a,b,c simultaneously 
a = b = c = 5

#Print the value of all variables
print(a)
print(b)
print(c)

__Exercise 2.4:__
<br>
Assign the float 12.3 to the variables __*num1*__ and __*num2*__, simultaneously. Then, print both variables.

In [2]:
### START CODE HERE ### (≈ 3 lines of code)
num1 = num2 = 12.3
print(num1)
print(num2)
###END CODE HERE ###

12.3
12.3

__Expected Output:__
<br>
12.3
<br>
12.3

In [9]:
#Example 3: Data Types
# Python has five standard data types
# Numbers, Strings, List, Tuple , Dictonary 


#Example 3.1: String Type 
strExmp = 'Hello World!'
all = "string concatenation example"

# Print complete string (strExmp)
print(strExmp) 
# Print first character of the string
print(strExmp[0])  
 # Print characters starting from 3rd to 5th
print(strExmp[2:5]) #splicing 2:start at here, 5: end at here but not taking that one
# Print string three times
print(strExmp * 3)   
# Print concatenated string
print(strExmp + "How are you") 
# print the concatenated two string variables (strExmp and all)
print(strExmp + all)

Hello World!
H
llo
Hello World!Hello World!Hello World!
Hello World!How are you
Hello World!string concatenation example

__Exercise 3.1__
<br>
You are given 2 variables called __*firstName*__ and __*lastName*__. Using these variables, complete the following tasks.
<br>
A) Print the variable __*firstName*__.
<br>
B) Print the 3rd character of __*firstName*__.
<br>
C) Print the first 4 characters of __*lastName*__.
<br>
D) Print __*lastName*__ 2 times using a single print statement.
<br>
E) Print __*firstName*__ followed by a space followed by __*lastName*__ using a single print statement.
<br>

In [5]:
firstName = "Jennifer"
lastName = "Smith"
### START CODE HERE ### (≈ 5 lines of code)

#do task A here
print(firstName)
#do task B here
print(firstName[2])
#do task C here
print(lastName[0:4])
#do task D here
print(lastName * 2)
#do task E here
print(firstName,lastName)

###END CODE HERE ###

Jennifer
n
Smit
SmithSmith
Jennifer Smith

__Expected Output:__
<br>
Jennifer
<br>
n
<br>
Smit
<br>
SmithSmith
<br>
Jennifer Smith

In [6]:
#Example 3.2: List Type 

exmList1 = [ 'Apple', 4 , 4.0, 'Orange', 77, 82 ]
exmpList2 = [100, 'Mango',100]

# Print complete list exmList1
print(exmList1)   
# Print first element of the list
print(exmList1[0]) 
#Print elements starting from 2nd till 3rd 
print(exmList1[1:3])    
# Print elements starting from 3rd element
print(exmList1[2:])   
# Prints list two times (exmpList2)
print(exmpList2 * 2) 
# Print concatenated lists (exmList1 and exmpList2)
print(exmList1 + exmpList2)

#update exmList1 1st value to 'Cat' and print it
exmList1[0] = 'Cat'
print(exmList1)

#Add a new value - 'Cool' to exmpList2 and print it
exmpList2.append('Cool')
print(exmpList2)

#remove the value 1 from exmpList2
exmpList2.remove(100)
print(exmpList2)
#Note the first occurance of the value is removed and not all 


#Try playing around with other list functions : sort, reverse, index , counts

['Apple', 4, 4.0, 'Orange', 77, 82]
Apple
[4, 4.0]
[4.0, 'Orange', 77, 82]
[100, 'Mango', 100, 100, 'Mango', 100]
['Apple', 4, 4.0, 'Orange', 77, 82, 100, 'Mango', 100]
['Cat', 4, 4.0, 'Orange', 77, 82]
[100, 'Mango', 100, 'Cool']
['Mango', 100, 'Cool']

__Exercise 3.2:__
<br>
You are given 2 lists called __*numbers*__ and __*fruits*__. Complete the following tasks using these lists.
<br>
A) Print the list __*numbers*__.
<br>
B) Print the sorted version of the list __*numbers*__, using the *sort* list function.
<br>
C) Print the number of elements in the __*numbers*__ list using the *len* function.
<br>
D) Print the last 3 elements in the __*fruit*__ list.
<br>
E) Print the number of times "apple" appears in the __*fruit*__ list.
<br>
F) Substitute the element "watermelon" in the __*fruits*__ list with "melon". Print the __*fruits*__ list after the substitution.

In [60]:
numbers = [11, 4, 5, 9, 7, 21, 100, 54]
fruits = ["banana", "apple", "grapes", "watermelon", "apple", "kiwi"]

### START CODE HERE ### (≈ 7 lines of code)

#do task A here
print(numbers)
#do task B here
print(sorted(numbers))
#do task C here
print(len(numbers))
#do task D here
print(fruits[3:5])
#do task E here
print(fruits.count("apple"))
#do task F here
fruits[3] = 'melon'
print(fruits)

###END CODE HERE ###

[11, 4, 5, 9, 7, 21, 100, 54]
[4, 5, 7, 9, 11, 21, 54, 100]
8
['watermelon', 'apple']
2
['banana', 'apple', 'grapes', 'melon', 'apple', 'kiwi']

__Expected Output:__
<br>
[11, 4, 5, 9, 7, 21, 100, 54]
<br>
[4, 5, 7, 9, 11, 21, 54, 100]
<br>
8
<br>
["watermelon", "apple", "kiwi"]
<br>
2
<br>
["banana", "apple", "grapes", "melon", "apple", "kiwi"]

In [55]:
#Example 3.3 : Tuple Type 
#Tuples can be thought of as read-only lists. i.e. They cannot be updated

tupleExmp = ( 'Apple', 4 , 4.0, 'Orange', 77, 82 )
tupleExmp2 = (100, 'Mango',100)

# Print complete list (tupleExmp)
print(tupleExmp) 
# Print first element of the list
print(tupleExmp[0])  
 # Print elements starting from 2nd till 3rd 
print(tupleExmp[1:3])     
 # Print elements starting from 3rd element
print(tupleExmp[2:]) 
# Print list two times (tupleExmp2)
print(tupleExmp2 * 2)  
# Print concatenated lists (tupleExmp2, tupleExmp)
print(tupleExmp + tupleExmp2) 

# Trying updating a tuple and see if you get an error

('Apple', 4, 4.0, 'Orange', 77, 82)
Apple
(4, 4.0)
(4.0, 'Orange', 77, 82)
(100, 'Mango', 100, 100, 'Mango', 100)
('Apple', 4, 4.0, 'Orange', 77, 82, 100, 'Mango', 100)

__Exercise 3.3:__
<br>
Complete the following tasks to practice using tuples.
<br>
A) Create a tuple called __*myTuple*__ with the elements 9.5, "hello", 10, and "world", in that order.
<br>
B) Print __*myTuple*__.
<br>
C) Print the second and third elements of __*myTuple*__.
<br>
D) Print the number of elements in __*myTuple*__.

In [7]:
### START CODE HERE ### (≈ 4 lines of code)

#do task A here
myTuple = (9.5, "hello", 10, "world")
#do task B here
print(myTuple)
#do task C here
print(myTuple[1:3])
#do task D here
print(len(myTuple))

###END CODE HERE ###

(9.5, 'hello', 10, 'world')
('hello', 10)
4

__Expected Output:__
<br>
(9.5, "hello", 10, "world")
<br>
("hello", 10)
<br>
4

In [8]:
# Example 3.4 : Dictonary Type 
dictExp = {}
dictExp['one'] = "This is one"
dictExp[2]     = "This is two"

dictExp2 = {'name': 'john','code':6734, 'dept': 'sales'}

#Print the value for the key 'one' in dictExp
print(dictExp['one'])  
#Print the value for the key 2 in dict
print(dictExp[2])    
# Print complete dictionary - dictExp2
print(dictExp2)
# Print all the keys for dictExp2
print(dictExp2.keys())  
# Print all the values for dictExp2
print(dictExp2.values())

This is one
This is two
{'name': 'john', 'code': 6734, 'dept': 'sales'}
dict_keys(['name', 'code', 'dept'])
dict_values(['john', 6734, 'sales'])

__Exercise 3.4:__
<br>
Complete the following tasks to practice using dictionaries.
<br>
A) Create a dictionary called student that contains these key/value pairs: 
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;key = "name", value = "Sam"
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;key = "age", value = 21
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;key = "id", value = 9893
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;key = "major", value = "economics"
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;key = "units", value = 16
<br>
B) Print the dictionary __*student*__.
<br>
C) Print all of the keys in __*student*__.
<br>
D) Print the number of keys in __*student*__.
<br>
E) Print the value associated with the key "major".

In [15]:
### START CODE HERE ### (≈ 5 lines of code)

#do task A here
student = {}
student["name"] = "Sam"
student["age"] = "21"
student["id"] = "9893"
student["major"] = "economics"
student["units"] = "16"
#do task B here
print(student)
#do task C here
print(student.keys())
#do task D here
print(len(student.keys()))
#do task E here
print(student["major"])

###END CODE HERE ###

{'name': 'Sam', 'age': '21', 'id': '9893', 'major': 'economics', 'units': '16'}
dict_keys(['name', 'age', 'id', 'major', 'units'])
5
economics

__Expected Output:__
<br>
{'units': 16, 'age': 21, 'major': 'economics', 'name': 'Sam', 'id': '9893'}
<br>
['units', 'age', 'major', 'name', 'id']
<br>
5
<br>
economics

In [1]:
#Example 4 : Arithmetic Operations 
a = 10
b = 20

#Example 4.1 : Addition
print("a+b :",a+b)

#Example 4.2: Subtraction
print("a-b :",a-b)

#Example 4.3: Multiplication
print("a*b :",a*b)

#Example 4.4 : Division
print("a/b :",a/b)

#Example 4.5 : Modulus
print("a%b :", a%b)

#Example 4.6 : Exponent
print("2 to the power 4 :" ,2**4)

a+b : 30
a-b : -10
a*b : 200
a/b : 0.5
a%b : 10
2 to the power 4 : 16

__Exercise 4:__
<br>
Perform the following operations using the variables __*x*__ and __*y*__. All of the tasks can be done without declaring additional variables.
<br>
A) Print the result of $x^{2}$ + $y^{2}$.
<br>
B) Print the result of (x % y) * 2.
<br>
C) Print the result of (y / x) - 1.

In [5]:
x = 7
y = 5
### START CODE HERE ### (≈ 3 lines of code)

#do task A here
print(x**2 + y**2)
#do task B here
print((x % y) * 2)
#do task C here
print((y / x) - 1)

###END CODE HERE ###

74
4
-0.2857142857142857

__Expected Output:__
<br>
74
<br>
4
<br>
-1

In [6]:
#Example 5 : Comparision Operators
a = 10
b = 20
c = 10

#Example 5.1 : ==
print("a==b : ", a==b)
print("a==c :",a==c) 

#Example 5.2: !=
print("a!=b :",a!=b)
print("a!=c :", a!=c)

#Example 5.3 : Greater than, less than, greather than equal to
print("a>c :", (a>c))
print("a>=c :", a>=c)
print("a<b :", a<b)

a==b :  False
a==c : True
a!=b : True
a!=c : False
a>c : False
a>=c : True
a<b : True

__Exercise 5:__
<br>
Complete the following tasks to get some practice with comparison operators.
<br>
A) Print the result of checking to see if __*strOne*__ and __*strTwo*__ are equal in value.
<br>
B) Print the result of checking to see if __*numOne*__ is less than __*numTwo*__. 
<br>
C) Print the result of checking to see if __*numOne*__ is greater than or equal to __*numTwo*__.

In [10]:
strOne = "June"
strTwo = "July"

numOne = 4
numTwo = 4

### START CODE HERE ### (≈ 3 lines of code)

#do task A here
print(strOne == strTwo)
#do task B here
print(numOne < numTwo) 
#do task C here
print(numOne >= numTwo)

###END CODE HERE ###

False
False
True

__Expected Output:__
<br>
False
<br>
False
<br>
True

In [11]:
a = "apple"

a = 2
print(a)

2

In [12]:
i = 0
while i < 3:
          print(i)
          i += 1
else:
          print(0)

0
1
2
0

In [13]:
i = 1
while i < 3:
          if i%2 == 0:
                    print("Hello")
          print(i)
          i = i + 1

1
Hello
2

In [14]:
x = "abcdef";
while i in x:
          print(i, end=" ")

TypeError: 'in <string>' requires string as left operand, not int

In [15]:
x = 2
for i in range(x):
          x += 1
          print (x)

3
4

In [16]:
def printSum(b, a = 1):
          print(a+b)
printSum(b = 3)

4

In [18]:
def printFruit(*args):
          counter = 1
          for arg in args:
                    if counter >= 3:
                              return 
                    else:
                              print(arg)
                    counter = counter + 1
                    printFruit("Apple",  "Orange", "Mango" , "Grape")